{{page-title "TDD Notes"}}

<div class="bg-white text-gray-900 p-8 h-screen">
  <Header></Header>
  <div class="mx-auto mb-4">

    <div class="flex flex-wrap -mx-2">
      {{outlet}}

    </div>
  </div>
</div>